body {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding: 20px;
	background-color: #FFFFFF;
	 background-image: url(images/Motif-Background-E4x4.png);
}
h4 {
	color: #CC0000;
}
-->


<!--
-->
.row1 {background-color: #EEEEEE}
.row2 {background-color: #FFFFFF}
.Estilo13 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: small; color: #000000; }
.Estilo14 {color: #000000}
.Estilo17 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: large; color: #000000; }
.Estilo21 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-weight: bold; }
.Estilo22 {font-size: small}
.Estilo25 {
	font-size: x-small;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Estilo26 {
	font-size: x-small;
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.Estilo27 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; font-weight: bold; font-size: medium; }
.Estilo32 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.Estilo33 {color: #999999}
.Estilo38 {font-size: x-small}
body,td,th {
	color: #000000;
}
.Estilo45 {
	font-size: x-small;
	color: #000000;
	font-weight: bold;
}
.Estilo46 {color: #FE6A00}
.Estilo47 {background-color: lightgrey; color: #000080; font-weight: bold; font-family: "Trebuchet MS", Tahoma, Verdana; }
.Estilo47B {color: #000080; font-size: x-large; font-weight: bold; font-family: "Trebuchet MS", Tahoma, Verdana;}
.Estilo47C {background-color: red; color: white; font-size: large; font-weight: bold; font-family: "Trebuchet MS", Tahoma, Verdana;}


.Estilo48 {
	color: #F96600;
	font-size: small;
	font-family: font-family: "Trebuchet MS", Tahoma, Verdana;
	font-weight: bold;
}
.Estilo50 {text-align: left; font-family: "Trebuchet MS", Tahoma, Verdana; font-weight: bold; color: #000000; font-size: medium; }
.Estilo51 {color: #000000}
.Estilo53 {
	color: #333333;
	font-size: small;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Estilo44 {
	color: #FFFFFF;
	
	font-family: "Trebuchet MS", Tahoma, Verdana;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}


.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #243d7a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}



.buttonstyle 
{ 
background: black; 
background-position: 0px -401px; 
border: solid 1px #000000; 
color: #ffffff;
height: 21px;
margin-top: -1px;
padding-bottom: 2px;
}
.buttonstyle:hover {background: white;background-position: 0px -501px;color: #000000; }